"*":
  Zen:
    softWrap: true
  "adwaita-pro-ui":
    iconTheme: "Octicons"
    theme: "dark"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
      "markdown-preview"
      "language-pfm"
      "language-gfm"
      "markdown-preview-plus"
      "markdown-preview-plus-opener"
      "pandoc"
      "wrap-guide"
      "welcome"
    ]
    themes: [
      "one-dark-ui"
      "pen-paper-coffee-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.7
    softWrap: true
  "git-diff-details":
    enableSyntaxHighlighting: true
  "git-plus":
    pullBeforePush: "pull --rebase"
  "markdown-deluxe": {}
  "markdown-preview-plus-opener":
    closePreviewWhenClosingEditor: true
  minimap:
    ignoreWhitespacesInTokens: true
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "minimap-git-diff": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  welcome:
    showOnStartup: false
"source.gfm":
  editor:
    softWrap: true
