'.platform-linux':
  'ctrl-p': 'core:paste'
  'ctrl-y': 'core:copy'
'body':
  'ctrl-shift-o': 'application:open-file'
  'ctrl-o': 'command-palette:toggle'
'atom-text-editor[data-grammar="text md"]':
  'ctrl-i': 'markdown:emphasis'
