packages: [
  "adwaita-pro-ui"
  "AtLilyPond"
  "atom-monokai"
  "atom-pair"
  "atom-turkish"
  "busy-signal"
  "change-case"
  "firepad"
  "flatwhite-syntax"
  "git-control"
  "git-diff-details"
  "git-plus"
  "git-projects"
  "git-time-machine"
  "intentions"
  "isotope-ui"
  "language-markdown"
  "language-pfm"
  "linter"
  "linter-markdown"
  "linter-ui-default"
  "markdown-preview-plus"
  "markdown-preview-plus-opener"
  "markdown-writer"
  "minimap"
  "minimap-autohide"
  "minimap-codeglance"
  "minimap-git-diff"
  "neovimbed"
  "one-light-ui-adwaita"
  "package-sync"
  "pandoc"
  "pen-paper-coffee-syntax"
  "project-manager"
  "project-plus"
  "show-invisibles-plus"
  "split-diff"
  "tool-bar"
  "tool-bar-markdown-writer"
  "tree-view-git-branch"
  "tree-view-git-status"
  "vim-mode-plus"
  "Zen"
]
