packages: [
  "adwaita-pro-ui"
  "AtLilyPond"
  "atom-monokai"
  "git-control"
  "git-diff-details"
  "git-plus"
  "git-time-machine"
  "language-markdown"
  "language-pfm"
  "markdown-preview-plus"
  "markdown-preview-plus-opener"
  "minimap"
  "minimap-autohide"
  "minimap-codeglance"
  "minimap-git-diff"
  "package-sync"
  "pandoc"
  "pen-paper-coffee-syntax"
  "tree-view-git-branch"
  "tree-view-git-status"
  "Zen"
]
